{% extends 'firstapp/base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="card col-md-4 shadow-lg h-100">
    <h3 class="bg-secondary my-3 p-2 text-light border rounded text-center" >Book-an-Appointment</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ b.pat_name }} 
          {{ b.age }} 
          {{ b.Phone }} 
         
          <div class="row my-2">
            <div class="col">
              <input type="submit" value="Book" class="btn btn-success form-control" style="background-color: blue;">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
