{% extends 'firstapp/base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="card col-md-4 shadow-lg h-100" >
    <h3 class="bg-secondary my-3 p-2 text-light border rounded text-center" >Add Book</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for i in w %}
            {{i}}
          {% endfor %}
          <div class="row my-2">
            <div class="col">
              <input type="reset" value="Clear" class="btn btn-danger form-control">
            </div>
            <div class="col">
              <input type="submit" value="Add" class="btn btn-success form-control" style="background-color:blue;">
            </div>
          </div>
        </form>
        
      </div>
    </div>
    <div class="card col shadow-lg h-100" style="left:50px">
      <div class="card-body">
        <h4> Details</h4>
        <table class="table">
          <tr class="bg-dark text-light">
            <th>Sno</th>
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Year Join</th>
            <th>Branch</th>
            <th>Actions</th>
          </tr>
          {% for i in n %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Doc_roll}}</td>
            <td>{{i.doc_name}}</td>
            <td>{{i.yearjoin}}</td>
            <td>{{i.branch}}</td>
            <td>
              <div class="row">
                <div class="col">
                  <a href="{% url 'updtdct' i.id %}" class="btn btn-outline-info form-control">Update</a>
                </div>
              <div class="row">
                <div class="col">
                  <a href="{% url 'dctdel' i.id %}" class="btn btn-outline-info form-control">Delete</a>
                </div>
              </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </div>
  
</div>


{% endblock %}